@import "tailwindcss";
@theme {
  --color-primary: #6366f1;
  --color-secondary: #ec4899;
}
@plugin "daisyui"{
    themes:all;
}
@layer base{
  button:not(:disabled),
  [role="button"]:not(:disabled){
    cursor:pointer;  
  }
}